<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Sandbox</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Login OSM Sandbox</h3>
                    </div>
                    <div class="card-body">
                        <form id="loginForm">
                            <div class="form-group">
                                <label for="box">Box:</label>
                                <select class="form-control" id="box" name="box" required>
                                    <option value="">Select a box</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login with OpenStreetMap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        let sessionId = null;

        document.addEventListener('DOMContentLoaded', function () {
            fetch('/v1/boxes')
                .then(response => response.json())
                .then(data => {
                    const boxSelect = document.getElementById('box');
                    data.forEach(box => {
                        const option = document.createElement('option');
                        option.value = box.name;
                        option.textContent = `${box.name} (${box.license})`;
                        boxSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching boxes:', error));
        });

        document.getElementById('box').addEventListener('change', function (event) {
            const box = event.target.value;
            if (box) {
                fetch(`/initialize_session?box=${encodeURIComponent(box)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.id) {
                            sessionId = data.id;
                            console.log('Session ID stored:', sessionId);
                        } else {
                            console.error('Failed to initialize session');
                            alert(data.detail);
                        }
                    })
                    .catch(error => {
                        console.error('Error initializing session:', error);
                        alert('Error initializing session. Please try again.');
                    });
            }
        });

        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();
            if (sessionId) {
                const queryString = new URLSearchParams({ "session_id": sessionId }).toString();
                const url = `/osm_authorization?${queryString}`;
                window.location.href = url;
            } else {
                alert('Please select a box and ensure session is initialized');
            }
        });
    </script>
</body>
</html>
